<div class="span9 offset4 ice-box text-center">

	<h1 class="awesome-sauce">Welcome to the Overlook</h1>

	<br/>

	<h2 class="Jack">All work and no play, makes Jack a dull boy.</h2>

	<%= link_to 'Launch', '#', :class => 'btn btn-danger' %>

</div>


