@import url(http://fonts.googleapis.com/css?family=Purple+Purse);
@import url(http://fonts.googleapis.com/css?family=Miniver);
@import url(http://fonts.googleapis.com/css?family=Julee);
@import url(http://fonts.googleapis.com/css?family=Jolly+Lodger);

.ice-box {
	box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
	background-color: rgba(36,32,33,0.50);
	padding: 1%;
}

.awesome-sauce {
	font-family: 'Miniver', Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 64px;
	color:white;
}

.awesome-sauce-small {
	font-family: 'Purple Purse', Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 32px;
	color: #B30C2B;
}

.Jack {
	font-family: 'Jolly Lodger', Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 40px;
	color: #B30C2B;
}

h2 	{
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 32 px;
}

body	{
	
	background: url('Overlookbg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}







